<footer id="footer">
  <div class="footer-left">
    <%= __('footer.copyright') %> &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %>
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %>
        <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</footer>
<% if (page.mermaid) { %>

   <%- js('js/search.js') %>
   <script src='/js/mermaid.js'></script>
   <!-- <script src='https://cdn.jsdelivr.net/npm/mermaid@8.6.0/dist/mermaid.js'></script> -->
<script>
  if (window.mermaid) {
    mermaid.initialize({'theme':'light'});
  }
</script>
<% } %>

<!-- 根据页面mathjax变量决定是否加载MathJax数学公式js -->
<% if (page.mathjax){ %>
  <%- partial('mathjax') %>
<% } %>